body {
    background-color: #F1D1B5;
    font-family: sans-serif;
}

header {
    background-color: #568EA6;
    color: #F18C8E;
    font-size: 26px;
    padding:5px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#p {
    text-align: center;
    color: #305F72;
}

#timer {
    font-weight: bold;
    text-align: center;
}

#button__wrapper {
    display: flex;
    justify-content: center;
}

#start__button {
    background-color: #568EA6;
    color: #F18C8E;
    margin: 10px;
}

#answers__wrapper {
    display: flex;
    justify-content: center;
}

#questions {
    text-align: center;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

#statusBox {
    text-align: center;
    margin: 10px;
    color: #305F72;
}

.submit__button {
    background-color: #568EA6;
    color: #F18C8E;
    margin: 5px;
    padding: 5px;
}

.final__results-button {
    background-color: #568EA6;
    color: #F18C8E;
    margin: 10px;
    padding: 10px;
}



